In [4]:
import pandas as pd

df = pd.read_xml('../data/kompas-beritaPart1.xml')
df.head()

,sumber,tanggal,kategori,judul,isi,link,jumlahkata
0,kompas.com,2015/07/01,Teknologi,"Ponsel Huawei Honor 4C Dibanderol Rp 2,2 Juta","JAKARTA, KOMPAS.com Ponsel Android Huawei Hon...",http://tekno.kompas.com/read/xml/2015/07/01/18...,315
1,kompas.com,2015/07/01,Teknologi,Asosiasi: RPP E-commerce Tidak Sesuai Hasil Di...,"JAKARTA, KOMPAS.com - Sejak 2013, wacana tenta...",http://tekno.kompas.com/read/xml/2015/07/01/16...,419
2,kompas.com,2015/07/01,Teknologi,"Pemesan ""iPhone Jadi Sabun"" Karyawan Pesaing L...","JAKARTA, KOMPAS.com Danis Darusman, pelanggan ...",http://tekno.kompas.com/read/xml/2015/07/01/15...,265
3,kompas.com,2015/07/01,Teknologi,"""Autofeather Failure"", Momok bagi Pesawat Bali...",KOMPAS.com Salah satu momok yang dihadapi dala...,http://tekno.kompas.com/read/xml/2015/07/01/14...,481
4,kompas.com,2015/07/01,Teknologi,Laptop Bezel Tertipis di Dunia Masuk Indonesia,"JAKARTA, KOMPAS.com - Resmi diperkenalkan pada...",http://tekno.kompas.com/read/xml/2015/07/01/14...,227

Ekplorasi Data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sumber      1502 non-null   object
 1   tanggal     1502 non-null   object
 2   kategori    1502 non-null   object
 3   judul       1502 non-null   object
 4   isi         1502 non-null   object
 5   link        1502 non-null   object
 6   jumlahkata  1502 non-null   int64
dtypes: int64(1), object(6)
memory usage: 82.3+ KB

In [6]:
df.isnull().sum()

sumber        0
tanggal       0
kategori      0
judul         0
isi           0
link          0
jumlahkata    0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

Data Cleaning

In [8]:
def caseFolding(text):
    text = text.lower()
    return text

contoh ="Terima kasih, kak! Kamu sangat baik sekali kepadaku hari ini."
print(f'Original Text: {contoh}')
print(f'case Folding Text: {caseFolding(contoh)}')

Original Text: Terima kasih, kak! Kamu sangat baik sekali kepadaku hari ini.
case Folding Text: terima kasih, kak! kamu sangat baik sekali kepadaku hari ini.

Punctuation Removal

In [9]:
import re

def punctuationRemoval(text):
    text = re.sub(r'[^\w\s]', '', text)
    return text

contoh = "Terima kasih, kak! Kamu sangat baik sekali kepadaku hari ini."
print(f'Original Text: {contoh}')
print(f'Punctuation Removal Text: {punctuationRemoval(contoh)}')

Original Text: Terima kasih, kak! Kamu sangat baik sekali kepadaku hari ini.
Punctuation Removal Text: Terima kasih kak Kamu sangat baik sekali kepadaku hari ini